

//color
:root{
    --primary:#8FB0DC;
    --second:#EFEFEF;
    --bg-image: url('');
    --bg-image-mobile: url('');
    
  }
  // var(--primary):#8FB0DC;
  $white: #fff;
  $bg_grey:#F8F8F6;
  $text_grey2:#A5A5A5;
  $light_grey3:#D6D6D6;
  $light_grey4: #EFEFEF; //--second
  $logo_grey:#727171;
  $dark:#000000;
  
  //size
  $infoBoxHeight: 65vh;
  



