@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
:root {
  --primary:#8FB0DC;
  --second:#EFEFEF;
  --bg-image: url("");
  --bg-image-mobile: url("");
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body.payBody {
  background-color: #F8F8F6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.addBG {
  background-image: var(--bg-image);
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
}

.title h2 {
  font-weight: 400;
  font-size: 20px;
  color: var(--primary);
  line-height: 1.5;
  margin-bottom: 0.4em;
}
.title p {
  color: var(--primary);
  font-size: 18px;
}

input[type=radio] {
  background-color: #A5A5A5;
  appearance: none;
  border-radius: 50px;
  box-sizing: border-box;
}
input[type=radio]:after {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  top: 1px;
  left: 1px;
  position: relative;
  background-color: #fff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}
input[type=radio]:checked {
  background-color: var(--primary);
}
input[type=radio]:checked::after {
  background-color: var(--primary);
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox input[type=checkbox] {
  display: none;
}
.custom-checkbox label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  user-select: none;
}
.custom-checkbox label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.custom-checkbox label::after {
  content: "";
  position: absolute;
  display: none;
  top: 5px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.custom-checkbox input[type=checkbox]:checked + label::before {
  background-color: var(--primary);
  border-color: var(--primary);
}
.custom-checkbox input[type=checkbox]:checked + label::after {
  display: block;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--primary);
  color: #fff;
  padding: 1.2em;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
button img {
  padding-left: 10px;
  display: none;
}
button:hover {
  background-color: var(--primary);
  filter: brightness(1.1);
}

.bg {
  display: flex;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 16px;
}

.pay {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay .pay_left {
  position: relative;
  display: flex;
  width: 45%;
  flex-basis: 40%;
  box-sizing: border-box;
}
.pay .pay_left .languageBox {
  position: absolute;
  top: -35px;
  left: 10px;
  display: flex;
  align-items: center;
  width: 6em;
  padding-bottom: 10px;
  color: #A5A5A5;
  cursor: pointer;
}
.pay .pay_left .languageBox img {
  margin-right: 0.5em;
}
.pay .pay_left .languageBox .langListItem {
  position: absolute;
  top: 30px;
  left: 0;
  min-width: 8em;
  height: 0;
  padding: 15px 0;
  overflow: hidden;
  background-color: #A5A5A5;
  color: #fff;
  border-radius: 10px;
  transform: scaleY(0); /* 初始隱藏 */
  transform-origin: top; /* 從上方展開 */
  opacity: 0; /* 初始透明 */
  transition: transform 0.3s ease, opacity 0.5s ease;
}
.pay .pay_left .languageBox .langListItem li {
  padding: 0.5em 15px;
}
.pay .pay_left .languageBox .langListItem li:hover {
  background-color: var(--primary);
}
.pay .pay_left .languageBox:hover .langListItem {
  height: auto;
  transform: scaleY(1); /* 展開 */
  opacity: 1; /* 顯示 */
}
.pay .pay_left .info {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  align-self: start;
}
.pay .pay_left .info .imgbox {
  width: 100%;
  text-align: center;
}
.pay .pay_left .info .textbox {
  width: 100%;
  background-color: var(--second);
  border-radius: 10px;
}
.pay .pay_left .info .textbox > div {
  padding: 0 40px;
  border-bottom: 1px solid #D6D6D6;
  justify-content: center;
}
.pay .pay_left .info .textbox > div.amount {
  border-bottom: 0 !important;
}
.pay .pay_left .PayInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
}
.pay .pay_left .PayInfo > div {
  flex-basis: 25%;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay .pay_left .PayInfo > div .list_left {
  width: 100%;
  font-size: 20px;
  margin-bottom: 0.4vw;
}
.pay .pay_left .PayInfo > div .list_right {
  width: 100%;
  text-align: left;
  font-weight: 400;
}
.pay .pay_left .PayInfo > div h4 {
  color: #A5A5A5;
  font-size: 18px;
  line-height: 1.3;
}
.pay .pay_left .PayInfo > div p {
  font-size: 14px;
  color: #A5A5A5;
}
.pay .pay_left .PayInfo > div h3 {
  color: var(--primary);
  font-size: 18px;
  word-wrap: break-word;
}
.pay .pay_left .cardPrice {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  color: #727171;
  padding: 2.5vw 40px;
  box-sizing: border-box;
  margin-bottom: 25px;
}
.pay .pay_left .cardPrice .pay_price {
  width: 80%;
  text-align: left;
  font-size: 50px;
  font-weight: 400;
  color: var(--primary);
  padding-left: 0.5em;
}
.pay .pay_left .cardPrice b {
  font-size: 24px;
}
.pay .pay_right {
  display: flex;
  flex-basis: 55%;
  background-size: cover;
  box-sizing: border-box;
  justify-self: center;
  padding-left: 70px;
}
.pay .pay_right .info {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.pay .pay_right .info .tab_bar .type {
  display: flex;
  justify-content: space-between;
  height: 6.6vw;
  background-color: var(--second);
  margin-bottom: 25px;
  border-radius: 10px;
}
.pay .pay_right .info .tab_bar .type .type_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  padding: 14px 20px;
  color: #A5A5A5;
  box-sizing: border-box;
  cursor: pointer;
}
.pay .pay_right .info .tab_bar .type .type_box .imgbox {
  width: 100%;
  display: none;
  text-align: center;
  padding-bottom: 0.4vw;
}
.pay .pay_right .info .tab_bar .type .type_box p {
  color: #A5A5A5;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}
.pay .pay_right .info .tab_bar .type .type_box.active {
  height: 100%;
  text-align: center;
  background-color: var(--primary);
}
.pay .pay_right .info .tab_bar .type .type_box.active .imgbox {
  display: inline-block;
}
.pay .pay_right .info .tab_bar .type .type_box.active p {
  color: #fff !important;
}
.pay .pay_right .info .tab_bar .type.tabNN2 {
  justify-content: center;
}
.pay .pay_right .info .tab_bar .type.tabNN2 .type_box {
  margin: 0 16px;
}
.pay .pay_right .info .tab_bar.tab_scroll {
  position: relative;
  width: auto;
  height: 5.6vw;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  overflow: -moz-hidden-unscrollable;
  margin-bottom: 30px;
}
.pay .pay_right .info .tab_bar.tab_scroll .type {
  position: absolute;
  flex-wrap: nowrap;
  height: 100%;
}
.pay .pay_right .info .tab_bar.tab_scroll .type .type_box {
  height: 100%;
  flex-grow: 1;
  padding: 0 3vw;
}
.pay .pay_right .info .tab_bar.tab_scroll .type .type_box p {
  white-space: nowrap;
  padding-top: 0;
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* for Chrome、Safari */
  -moz-user-select: none; /* for Mozilla、Firefox */
}
.pay .pay_right .info .tab_bar.tab_scroll::-webkit-scrollbar {
  display: none;
}
.pay .pay_right .info .list {
  justify-content: space-between;
  border: 1px solid #D6D6D6;
  background-color: #F8F8F6;
  border-radius: 10px;
}
.pay .pay_right .info .list form {
  display: flex;
  flex-direction: column;
  height: 65vh;
  box-sizing: border-box;
}
.pay .pay_right .info .list form .tab_content {
  flex-basis: 85%;
  overflow-y: auto;
}
.pay .pay_right .info .list .list_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 20px;
  border-bottom: 1px solid #D6D6D6;
}
.pay .pay_right .info .list .list_box:last-child {
  border-bottom: 0;
}
.pay .pay_right .info .list .list_box label {
  color: #A5A5A5;
  font-size: 14px;
}
.pay .pay_right .info .list .list_box input {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
  font-weight: 200;
}
.pay .pay_right .info .list .list_box input:checked + label {
  color: var(--primary);
}
.pay .pay_right .info .list .list_box div {
  display: flex;
  align-items: center;
}
.pay .pay_right .info .list .list_box .listpic {
  justify-content: flex-end;
  height: 1.5em;
}
.pay .pay_right .info .list .list_box .listpic img {
  display: block;
  max-height: 100%;
}
.pay .pay_right .info .confirm {
  margin: 20px;
  box-sizing: border-box;
}

.tab_content {
  display: none;
}

@media screen and (max-width: 1199px) {
  .bg {
    background-image: none;
  }
  .title h2 {
    margin-bottom: 1em;
  }
  .pay {
    width: 100%;
    margin: 0 auto;
  }
  .pay .pay_left {
    width: 35%;
    height: auto;
  }
  .pay .pay_left .info .imgbox {
    width: 180px;
    margin: 0 auto;
  }
  .pay .pay_left .info .imgbox img {
    width: 100%;
  }
  .pay .pay_right {
    height: auto;
  }
  .pay .pay_right .info {
    height: 100%;
  }
  .pay .pay_right .info .tab_bar .type {
    height: 6vw;
  }
  .pay .pay_right .info .tab_bar .type .type_box p {
    font-size: 73%;
  }
}
@media screen and (max-width: 991px) {
  .container {
    padding: 0;
  }
  .title {
    text-align: center;
  }
  .title h2 {
    font-size: 18px;
  }
  .title p {
    font-size: 16px;
  }
  .pay {
    width: 100%;
    display: block;
    padding-top: 8%;
  }
  .pay .pay_left {
    width: 100%;
    background-image: none;
  }
  .pay .pay_left .info {
    width: 100%;
    box-sizing: border-box;
  }
  .pay .pay_left .info > div {
    flex-basis: auto;
  }
  .pay .pay_left .info .imgbox {
    display: none;
  }
  .pay .pay_left .info .textbox > div {
    padding: 1em 40px;
  }
  .pay .pay_left .info .textbox > div:not(:first-child) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .pay .pay_left .info .textbox > div:not(:first-child) .list_left {
    margin-bottom: 0;
  }
  .pay .pay_left .info .textbox > div:not(:first-child) .list_right {
    text-align: right;
  }
  .pay .pay_left .info .textbox .coid .list_left,
  .pay .pay_left .info .textbox .coid .list_right {
    width: 100%;
  }
  .pay .pay_left .info .textbox .coid h4,
  .pay .pay_left .info .textbox .coid h3 {
    text-align: center;
    line-height: 2;
    padding: 0 1em;
    box-sizing: border-box;
  }
  .pay .pay_left .PayInfo {
    height: auto;
  }
  .pay .pay_left .PayInfo > div .list_left {
    margin-bottom: 0;
  }
  .pay .pay_right {
    width: 100%;
    padding-bottom: 40px;
    padding-left: 0;
    background-image: none;
  }
  .pay .pay_right .title {
    display: none;
  }
  .pay .pay_right .info {
    width: 100%;
    padding: 0;
  }
  .pay .pay_right .info .tab_bar {
    position: relative;
    top: 5vw;
    z-index: 9;
    margin-top: -2vw;
  }
  .pay .pay_right .info .tab_bar .type .type_box.active {
    flex-direction: row;
    align-items: center;
  }
  .pay .pay_right .info .tab_bar .type .type_box.active .imgbox {
    height: 1.2em;
    margin-right: 0.5em;
    flex-basis: 30%;
    display: inline-block;
  }
  .pay .pay_right .info .tab_bar .type .type_box p {
    font-size: 100%;
  }
  .pay .pay_right .info .tab_bar.tab_scroll {
    width: auto;
    height: 6vw;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-hidden-unscrollable;
    margin-top: 0;
  }
  .pay .pay_right .info .tab_bar.tab_scroll .type {
    position: absolute;
    flex-wrap: nowrap;
  }
  .pay .pay_right .info .tab_bar.tab_scroll .type .type_box {
    flex-grow: 1;
    padding: 0.5em 2em;
  }
  .pay .pay_right .info .tab_bar.tab_scroll .type .type_box p {
    white-space: nowrap;
    padding-top: 0;
  }
  .pay .pay_right .info .tab_bar.tab_scroll::-webkit-scrollbar {
    display: none;
  }
  .pay .pay_right .info .list_box:first-child {
    padding-top: 5vw;
  }
}
@media screen and (max-width: 767px) {
  body.payBody {
    display: block;
  }
  body.addBG {
    background-image: var(--bg-image-mobile);
    background-repeat: repeat-y;
    background-position: top;
    background-size: 100% auto;
  }
  .pay {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    margin-top: 35px;
  }
  .pay .pay_left .languageBox {
    font-size: 14px;
  }
  .pay .pay_left .info {
    width: 100%;
  }
  .pay .pay_left .info .cardPrice {
    position: fixed;
    left: -18px;
    bottom: 0;
    z-index: 9998;
    width: calc(100% + 18px);
    border-radius: 0;
    margin-bottom: 0;
    padding: 25px 43px;
    background-color: var(--primary);
    justify-content: flex-start;
    align-items: flex-end;
  }
  .pay .pay_left .info .cardPrice .pay_price {
    color: #fff;
    width: auto;
    margin-right: 0.2em;
    padding-left: 0;
    font-size: 30px;
  }
  .pay .pay_left .info .cardPrice b {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
  }
  .pay .pay_left .info .cardPrice img {
    display: none;
  }
  .pay .pay_left .info .textbox > div {
    padding: 0.5em 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
  }
  .pay .pay_left .info .textbox > div .list_left {
    width: 30%;
  }
  .pay .pay_left .info .textbox > div .list_right {
    width: 70%;
    text-align: right;
  }
  .pay .pay_left .info .textbox > div h4 {
    font-size: 14px;
    line-height: 1.3;
  }
  .pay .pay_left .info .textbox > div p {
    font-size: 14px;
    color: var(--second);
  }
  .pay .pay_left .info .textbox > div h3 {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    word-wrap: break-word;
  }
  .pay .pay_left .info .textbox > div:first-child {
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 0.5em;
  }
  .pay .pay_left .info .textbox > div:first-child h3 {
    line-height: 1.2em;
    margin: 0.5em 0;
  }
  .pay .pay_left .info .textbox > div:last-child {
    padding-bottom: 1em;
  }
  .pay .pay_left .PayInfo > div .list_left {
    margin-bottom: 0;
  }
  .pay .pay_right {
    margin-bottom: 12vw;
    padding-top: 0;
  }
  .pay .pay_right .info {
    width: 100%;
    position: relative;
  }
  .pay .pay_right .info .tab_bar {
    margin-top: 2vw;
    top: 2vw;
  }
  .pay .pay_right .info .tab_bar .type {
    height: 3em;
    margin-top: 0;
    margin-bottom: -5px;
  }
  .pay .pay_right .info .tab_bar .type .type_box p {
    font-size: 12px;
    padding-top: 0;
  }
  .pay .pay_right .info .tab_bar .type .type_box.active .imgbox {
    height: 1em;
    padding-top: 0.1em;
    margin-right: 0.5em;
  }
  .pay .pay_right .info .tab_bar .type .type_box.active .imgbox img {
    width: auto;
    height: 100%;
  }
  .pay .pay_right .info .tab_bar .type.tabNN2 {
    justify-content: center;
  }
  .pay .pay_right .info .tab_bar .type.tabNN2 .type_box {
    margin: 0 16px;
  }
  .pay .pay_right .info .tab_bar.tab_scroll {
    top: 50px;
    width: auto;
    height: 3em;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-hidden-unscrollable;
    margin-top: -5vw;
  }
  .pay .pay_right .info .tab_bar.tab_scroll .type {
    position: absolute;
    flex-wrap: nowrap;
  }
  .pay .pay_right .info .tab_bar.tab_scroll .type .type_box {
    flex-grow: 1;
    padding: 0.5em 1.1em;
  }
  .pay .pay_right .info .tab_bar.tab_scroll .type .type_box p {
    white-space: nowrap;
    padding-top: 0;
  }
  .pay .pay_right .info .tab_bar.tab_scroll::-webkit-scrollbar {
    display: none;
  }
  .pay .pay_right .info .list {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .pay .pay_right .info .list form {
    height: auto;
  }
  .pay .pay_right .info .list .list_box {
    padding: 1em 20px;
  }
  .pay .pay_right .info .list .list_box .listpic {
    height: 1.2em !important;
  }
  .pay .pay_right .info .list .list_box:first-child {
    padding-top: 2.5em;
  }
  .pay .pay_right .info .confirm {
    position: fixed;
    right: 25px;
    bottom: 22px;
    z-index: 9999;
    margin: 0;
  }
  .pay .pay_right .info .confirm button {
    background-color: #fff;
    color: var(--primary);
    padding: 10px 1.5em;
    font-size: 14px;
  }
  .pay .pay_right .info .confirm button img {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .pay .pay_left .info {
    width: 400px;
  }
  .pay .pay_right .info {
    width: 600px;
    min-height: 80%;
  }
  .pay .pay_right .info .type .type_box {
    padding: 0;
  }
}
@media screen and (min-width: 1400px) {
  .pay .pay_left .info {
    width: 450px;
  }
  .pay .pay_left .cardPrice {
    padding: 2vw 40px;
  }
  .pay .pay_right .info {
    width: 650px;
    min-height: 60%;
  }
  .pay .pay_right .info .tab_bar .type {
    height: 5vw;
  }
  .pay .pay_right .info .tab_bar .type .type_box {
    padding: 0 2.5em;
  }
  .pay .pay_right .info .tab_bar.tab_scroll {
    height: 5vw;
  }
  .pay .pay_right .info .tab_bar.tab_scroll .type .type_box {
    padding: 0 2.8em;
  }
}
@media screen and (min-width: 1600px) {
  .pay .pay_left .cardPrice {
    padding: 1.8vw 40px;
  }
  .pay .pay_right .info {
    width: 650px;
    min-height: 60%;
  }
  .pay .pay_right .info .tab_bar .type {
    height: 4vw;
  }
  .pay .pay_right .info .tab_bar .type .type_box {
    padding: 0 2.5em;
  }
  .pay .pay_right .info .tab_bar.tab_scroll {
    height: 4vw;
  }
  .pay .pay_right .info .tab_bar.tab_scroll .type .type_box {
    padding: 0 2.8em;
  }
}
@media screen and (max-device-width: 932px) and (orientation: landscape) {
  .pay .pay_left .info .cardPrice {
    position: fixed;
    left: calc(50% - 360px);
    bottom: 0;
    z-index: 9998;
    width: 720px;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 30px;
    background-color: var(--primary);
    justify-content: flex-start;
    align-items: flex-end;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .pay .pay_left .info .cardPrice .pay_price {
    color: #fff;
    width: auto;
    margin-right: 0.2em;
    padding-left: 0;
    font-size: 30px;
  }
  .pay .pay_left .info .cardPrice b {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
  }
  .pay .pay_left .info .cardPrice img {
    display: none;
  }
  .pay .pay_right {
    margin-bottom: 5vw;
  }
  .pay .pay_right .list form {
    position: relative;
    width: 100%;
  }
  .pay .pay_right .info .confirm {
    position: fixed;
    right: calc(50% - 340px);
    bottom: 10px;
    z-index: 9999;
    margin: 0;
  }
  .pay .pay_right .info .confirm button {
    background-color: #fff;
    color: var(--primary);
    padding: 10px 1.5em;
    font-size: 14px;
  }
}
@media screen and (max-device-width: 667px) and (orientation: landscape) {
  .pay .pay_left .info .cardPrice {
    left: calc(50% - 270px);
    width: 540px;
  }
  .pay .pay_right .info .confirm {
    right: calc(50% - 250px);
  }
}
.receipt {
  width: 100%;
  padding: 20px 0;
}
.receipt .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  height: 100%;
}
.receipt .container h1 {
  font-size: 24px;
  color: var(--primary);
  font-weight: 500;
}
.receipt .container h3 {
  font-size: 18px;
  font-weight: 400;
  color: #A5A5A5;
}
.receipt .container .tabs {
  display: flex;
  width: 100%;
  margin: 35px 0;
}
.receipt .container .tabs div {
  width: 33.333%;
  background-color: var(--second);
  padding: 14px 16px;
  text-align: center;
  cursor: pointer;
}
.receipt .container .tabs > div {
  color: #A5A5A5;
  padding: 35px 10px;
}
.receipt .container .tabs > div .imgbox {
  display: none;
}
.receipt .container .tabs .tab1 {
  border-radius: 10px 0 0 10px;
}
.receipt .container .tabs .tab3 {
  border-radius: 0 10px 10px 0px;
}
.receipt .container .tabs .active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
}
.receipt .container .tabs .active .imgbox {
  display: inline-block;
  margin-right: 0.5em;
  height: 1.3em;
}
.receipt .container .tabs .active .imgbox img {
  height: 100%;
}
.receipt .container .tabs .active h3 {
  color: #fff;
}
.receipt .container .error {
  color: #f75454;
  font-weight: 300;
  margin-top: 0.5rem;
  display: none;
}
.receipt .container .form-payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 51vh;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  padding: 35px;
}
.receipt .container .tab_container {
  min-height: 100%;
}
.receipt .container .tab_container .right {
  width: 100%;
  min-height: 40%;
}
.receipt .container .tab_container .right input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: -1px;
}
.receipt .container .tab_container .right input:checked + label {
  color: var(--primary);
}
.receipt .container .tab_container .right label {
  font-size: 18px;
  color: #A5A5A5;
  font-weight: 200;
}
.receipt .container .tab_container .right label .RECEIPT_ERROR_MESSAGE_NEED {
  color: red;
  font-weight: 300;
}
.receipt .container .tab_container .right .list {
  margin-top: 30px;
}
.receipt .container .tab_container .right .list a {
  color: #D6D6D6;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}
.receipt .container .tab_container .right .list .textbox_tit {
  margin-bottom: 26px;
  font-weight: 400;
}
.receipt .container .tab_container .right .list .textbox {
  display: block;
  margin-bottom: 20px;
}
.receipt .container .tab_container .right .list .textbox label {
  font-size: 16px;
}
.receipt .container .tab_container .right .list .textbox label div {
  padding-left: 0.5em;
}
.receipt .container .tab_container .right .list .textbox input,
.receipt .container .tab_container .right .list .textbox select {
  font-size: 16px;
  font-weight: 200;
  width: -webkit-fill-available;
  width: -moz-available;
  color: #727171;
  /*firefox*/
  padding: 1.2em;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  margin-top: 14px;
  background-color: transparent;
  margin-right: 0;
}
.receipt .container .tab_container .right .list .textbox input::placeholder,
.receipt .container .tab_container .right .list .textbox select::placeholder {
  color: #D6D6D6;
}
.receipt .container .tab_container .right .list .textbox input[readonly] {
  color: #D6D6D6 !important;
  -webkit-text-fill-color: #D6D6D6 !important; /* 针对 WebKit 的文本填充颜色 */
  background-color: #EFEFEF;
  border: 0;
}

/* add op*/
.RECEIPT_TYPE_DONATE {
  margin-bottom: 14px;
}

.receipt .container .tab_container .tab_content .right .list .textbox select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 14px;
  /* margin-top: 14px; */
  font-size: 14px;
  border: 1px solid #9D9D9D;
  background-color: #f7f8fb;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiLz48L3N2Zz4=");
  background-repeat: no-repeat !important;
  background-position: right 10px center;
  background-size: 12px;
}
.receipt .container .tab_container .tab_content .right .list .textbox select:disabled {
  opacity: 1;
  background-color: #dedede;
}
.receipt .container .tab_container .tab_content .right .list .textbox input option {
  color: #9D9D9D;
}
.receipt .container .tab_container .tab_content .right .list .textbox select option {
  color: #9D9D9D;
  padding: 10px;
  line-height: 2;
  /* background-color: #f00; */
}
.receipt .container .tab_container .tab_content .right .list .textbox .address {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.receipt .container .tab_container .tab_content .right .list .textbox .address select {
  width: 25%;
}
.receipt .container .tab_container .tab_content .right .list .textbox .address input {
  width: 40%;
}
.receipt .container .tab_container .remember {
  color: #9D9D9D;
  font-size: 16px;
  text-align: center;
}

/* add ed */
@media screen and (max-width: 1199px) {
  .receipt .container .tabs {
    margin: 3vh 0;
  }
  .receipt .container .tabs > div {
    padding: 3.8vh 10px;
  }
  .receipt .container .form-payment {
    min-height: 60vh;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    padding: 4vh 35px;
  }
  .receipt .container .tab_container .right .list .textbox_tit {
    margin-bottom: 3vh;
  }
  .receipt .container .tab_container .right .list .textbox {
    margin-bottom: 2vh;
  }
}
@media screen and (max-width: 991px) {
  body.payBody {
    display: block;
    min-height: auto;
  }
  .pay .pay_right .info .list form {
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .receipt {
    width: 100%;
    padding: 22px 15px;
    box-sizing: border-box;
  }
  .receipt .container h1 {
    font-size: 20px;
  }
  .receipt .container .form-payment {
    min-height: inherit;
    padding: 30px 20px;
  }
  .receipt .container .form-payment .tab_content .right {
    width: 100%;
  }
  .receipt .container .form-payment .tab_content .right label {
    font-size: 16px;
  }
  .receipt .container .form-payment .tab_content .right input {
    margin-top: 2px;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox label {
    font-size: 14px;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox input {
    font-size: 14px;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox .address {
    display: block;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox .address select {
    width: 100%;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox .address input {
    width: -webkit-fill-available;
  }
  .receipt .container .form-payment .remember {
    margin-top: 2em;
  }
  .receipt .container .form-payment .remember label {
    font-size: 14px;
  }
  .receipt .container .tabs > div {
    color: #A5A5A5;
    padding: 1.2em 10px;
  }
  .receipt .container .tabs > div .imgbox {
    display: none;
  }
  .receipt .container .tabs > div h3 {
    font-size: 16px;
  }
  .receipt .container .tabs .tab_container {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .receipt {
    width: 100%;
    padding: 22px 15px;
    box-sizing: border-box;
  }
  .receipt .container h1 {
    font-size: 20px;
  }
  .receipt .container .form-payment {
    min-height: inherit;
    padding: 30px 20px;
  }
  .receipt .container .form-payment .tab_content .right {
    width: 100%;
  }
  .receipt .container .form-payment .tab_content .right label {
    font-size: 16px;
  }
  .receipt .container .form-payment .tab_content .right input {
    margin-top: 2px;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox label {
    font-size: 14px;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox input {
    font-size: 14px;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox .address {
    display: block;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox .address select {
    width: 100%;
  }
  .receipt .container .form-payment .tab_content .right .list .textbox .address input {
    width: -webkit-fill-available;
  }
  .receipt .container .form-payment .remember {
    margin-top: 2em;
  }
  .receipt .container .form-payment .remember label {
    font-size: 14px;
  }
  .receipt .container .tabs > div {
    color: #A5A5A5;
    padding: 1.2em 10px;
  }
  .receipt .container .tabs > div .imgbox {
    display: none;
  }
  .receipt .container .tabs > div h3 {
    font-size: 16px;
  }
  .receipt .container .tabs .tab_container {
    display: block;
  }
}
@media screen and (max-device-width: 932px) and (orientation: landscape) {
  body.payBody {
    display: block;
    min-height: auto;
  }
  .pay .pay_right .info .list form {
    height: auto;
  }
  .receipt .container .tab_container .right label {
    font-size: 18px;
  }
  .receipt .container .tab_container .right .list .textbox > label, .receipt .container .tab_container .right .list .textbox > label > div {
    font-size: 14px !important;
    line-height: 1.2; /* 確保字級正常應用 */
    color: #f00;
    border: 1px solid #f00;
  }
}
.selectBox {
  position: relative;
  padding-top: 14px;
}

.select2-container {
  width: 100% !important;
  font-size: 16px;
}
.select2-container .select2-selection--single {
  height: 60px;
}

.select2-container--default .select2-selection--single {
  background-color: #F8F8F6;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 60px;
  color: #727171;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 60px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none;
}
.select2-container--default .select2-results__option--disabled {
  display: none;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #EFEFEF;
  border-color: #EFEFEF;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__rendered {
  color: #D6D6D6 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #727171;
}

.select2-results__option {
  padding: 15px 5px;
}

.select2-container--default .select2-selection--single {
  border-radius: 10px;
  border: 1px solid #D6D6D6;
  background-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--primary);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 13px;
}

@media screen and (max-width: 768px) {
  .select2-container {
    font-size: 14px;
  }
  .select2-container .select2-selection--single {
    height: 54px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
  }
}/*# sourceMappingURL=main.css.map */